extends ../layout_default

block content    
    main.vh-100.d-flex.flex-column(role="main")
        div(style="margin:auto;")
            section.text-center
                img.img_fluid(src="../images/ga_logo.png" alt="ga logo" width="40%" height="40%")
            section.d-flex.justify-content-center
                p.font-weight-bold
                    | GA4 Events Test
            section.d-flex.flex-column.p-2
                h3 
                    | GA Event: <b>Share</b>
                div.d-flex.justify-content-around
                    button.btn#btnShareIg(style="background: linear-gradient(to right, #4facfe, #fe00c3); color: white;")
                        i.fab.fa-instagram 
                            | Instagram
                    button.btn#btnShareFb(style="background: linear-gradient(to right, #0046be, #667bff); color: white;")
                        i.fab.fa-facebook 
                            | Facebook
                    button.btn#btnShareLn(style="background: linear-gradient(to right, #21d4fd, #b721ff); color: white;")
                        i.fab.fa-linkedin
                            | &nbsp;LinkedIn
                h3.mt-3
                    | GA Event: <b>select_content</b>
                button.btn.selectContent.mt-3#btnSelectContent(style="background: linear-gradient(to right, #21d4fd, #b721ff); color: white;")
                    i.fa.fa-book
                        | &nbsp;컨텐츠선택(select_content)
block append-script
    script.
        $(() => {
            initSingularSdk();

            $('#btnShareIg').on('click', (e) => {
                e.preventDefault();
                
                dataLayer.push({
                    event: 'btnShareIg'
                });
            });

            $('#btnShareFb').on('click', (e) => {
                e.preventDefault();
                
                dataLayer.push({
                    event: 'btnShareFb'
                });
            });

            $('#btnShareLn').on('click', (e) => {
                e.preventDefault();
                
                dataLayer.push({
                    event: 'btnShareLn'
                });
            });

            $('#btnSelectContent').on('click', (e) => {
                e.preventDefault();
                dataLayer.push({
                    event: 'select_content'
                });
            });
        });