extends ../layout_default

block content    
    main.vh-100.d-flex.flex-column(role="main")
        div(style="margin:auto;")
            section.text-center
                img.img_fluid(src="./images/singular-labs.png" alt="singular logo" width="70%" height="70%")
            section.d-flex.justify-content-center
                p.font-weight-bold
                    | App Links Test
            section.d-flex.flex-column.p-2
                button.btn.btn-outline-primary.mb-3#btnGotoHns
                    | 검색결과 전체 탭
                button.btn.btn-outline-primary.mb-3#btnGotoHnsCtag
                    | 검색결과 전체 탭(ctag)
                button.btn.btn-outline-primary#btnGotoHnsProduct
                    | 상품페이지
block append-script
    script.
        $(() => {
            initSingularSdk();

            $('#btnGotoHns').on('click', (e) => {
                e.preventDefault();
                window.open('https://seteam.sng.link/Efi47/as9p4?_dl=hnsmallapp%3A%2F%2Fm.hnsmall.com%2Fsearch%2F%3Fquery_top%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26channel_code%3D20470%26gtag%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26utm_source%3DNaver%26utm_medium%3DSA%26utm_campaign%3DTV_Living_Search%26utm_term%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26_a1_kad%3D17f4d7be737d&_global_redirect=http%3A%2F%2Fm.hnsmall.com%2Fsearch%2F%3Fquery_top%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26channel_code%3D20470%26gtag%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26utm_source%3DNaver%26utm_medium%3DSA%26utm_campaign%3DTV_Living_Search%26utm_term%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26_a1_kad%3D17f4d7be737d&pcn=SA_Keyword_search_220422&_smtype=3','_blank')
            });

            $('#btnGotoHnsCtag').on('click', (e) => {
                e.preventDefault();
                window.open('https://seteam.sng.link/Efi47/as9p4?_dl=hnsmallapp%3A%2F%2Fm.hnsmall.com%2Fsearch%2F%3Fquery_top%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26channel_code%3D20470%26gtag%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26ctag%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26utm_source%3DNaver%26utm_medium%3DSA%26utm_campaign%3DTV_Living_Search%26utm_term%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26_a1_kad%3D17f4d7be737d&_global_redirect=http%3A%2F%2Fm.hnsmall.com%2Fsearch%2F%3Fquery_top%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26channel_code%3D20470%26gtag%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26ctag%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26utm_source%3DNaver%26utm_medium%3DSA%26utm_campaign%3DTV_Living_Search%26utm_term%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26_a1_kad%3D17f4d7be737d&pcn=SA_Keyword_search_220727&_smtype=3','_blank')
            });

            $('#btnGotoHnsProduct').on('click', (e) => {
                e.preventDefault();
                window.open('https://seteam.sng.link/Efi47/as9p4?_dl=hnsmallapp%3A%2F%2Fm.hnsmall.com%2Fgoods%2Fview%2F27619857%3Fchannel_code%3D20470%26gtag%3D%EC%BD%A4%EB%B6%80%EC%B0%A8%26utm_source%3DNaver%26utm_medium%3DSA%26utm_campaign%3DHalf_Food_27619857%26utm_term%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26_a1_kad%3D17f4d7be737d17f4d7be737d&_global_redirect=http%3A%2F%2Fm.hnsmall.com%2Fgoods%2Fview%2F27619857%3Fchannel_code%3D20470%26gtag%3D%EC%BD%A4%EB%B6%80%EC%B0%A8%26utm_source%3DNaver%26utm_medium%3DSA%26utm_campaign%3DHalf_Food_27619857%26utm_term%3D%ED%97%AC%EB%A1%9C%ED%82%A4%ED%8B%B0%ED%99%94%EC%9E%A5%EC%A7%80%26_a1_kad%3D17f4d7be737d&pcn=SA_Keyword_goods_220727&_smtype=3','_blank')
            });
        });