extends ../layout_native_sdk

block content    
    main.vh-100.d-flex.flex-column(role="main")
        div(style="margin:auto;")
            section.text-center
                img.img_fluid(src="./images/singular-labs.png" alt="singular logo" width="70%" height="70%")
            section.d-flex.justify-content-center
                span.font-weight-bold
                    | Web To App Link 
            section.d-flex.justify-content-center
                span.form-text#webtoappLinkArea
                    | No URL
            section.d-flex.justify-content-center.mt-1
                button.btn.btn-outline-primary#btnWebToApp
                    | Run Web-to-App
            section.d-flex.justify-content-center.mt-1
                button.btn.btn-outline-primary#btnWebToApp
                    | Run Web-to-App(_forward_params=1)
            hr
            section.d-flex.justify-content-center.mt-1
                button.btn.btn-outline-primary#btnBuildWebToApp
                    | Build Web-to-App Link
            section.d-flex.justify-content-center.mt-1.p-1
                input.form-control#webtoappArea(type="url" placeholder="Web-to-App URL")
            
block append-script 
    script.
        $(() => {
            initSingularSdk();
            $('#webtoappLinkArea').text(webtoappLink);
            $('#btnWebToApp').on('click', (e) => {
                e.preventDefault();
                //- const utmParams = $(document)[0].location.search;
                openApp();
                //- openAppWithParams(utmParams);
                e.target.blur();
            });
            $('#btnBuildWebToApp').on('click', (e) => {
                e.preventDefault();
                const utmParams = $(document)[0].location.search;
                const link = buildWebToAppLink();
                //- const link = buildWebToAppLinkWithParams(utmParams);
                $('#webtoappArea').val(link);
                e.target.blur();
            });
        });