extends layout_default

block content
  div(style="margin:auto;")
    section.d-flex.justify-content-center
      p.font-weight-bold
        h2 
          | Index page for IE test
    section.text-center
      img.img_fluid(src="./images/singular-labs.png" alt="singular logo" width="70%" height="70%")
    section.d-flex.justify-content-center
      p.font-weight-bold
        | SDID
    section.d-flex.justify-content-center
      span.form-text#sdidArea
        | No SDID
    section.d-flex.justify-content-center.mt-1
      p.font-weight-bold
        | Custom User ID        
    section.d-flex.justify-content-center.mt-1.p-1
      input.form-control#customUserIdField(type="text" placeholder="Custom User ID" aria-label="customUserId")
    section.d-flex.justify-content-center.mt-1
      p.font-weight-bold
        | Events for the test
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnLoginEvent
        | Web Login Event
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnAddtoCartEvent
        | Web Add to Cart Event
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnPurchaseItemEvent
        | Web Purchase Event
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnWebToApp
        | Run Web-to-App
    section.d-flex.justify-content-center.mt-1
      button.btn.btn-outline-primary#btnBuildWebToApp
        | Build Web-to-App Link
    section.d-flex.justify-content-center.mt-1.p-1
      input.form-control#webtoappArea(type="url" placeholder="Web-to-App URL")
block append-script
  script.
    $(document).ready(function(){
      var apiKey="se_team_9b3431b0";
      var secretKey="bcdee06e8490949422c071437da5c5ed";
      var productId="com.jason.webapp";
      var config=new SingularConfig(apiKey, secretKey, productId);
      singularSdk.init(config);
    });