extends ../layout_default

block content    
    main.vh-100.d-flex.flex-column(role="main")
        div(style="margin:auto;")
            section.text-center
                img.img_fluid(src="./images/ga_logo.png" alt="ga logo" width="70%" height="70%")
            section.d-flex.justify-content-center
                p.font-weight-bold
                    | GA4 Ecommerce Test
            section.d-flex.flex-column.p-2
                button.btn.btn-primary#btnAddToCart
                    | 장바구니 담기
                button.btn.btn-info.mt-3#btnProductView
                    | 상품 보기
                button.btn.btn-primary.mt-3#btnPurchaseItem
                    | 상품 구매
block append-script
    script.
        $(() => {
            initSingularSdk();

            $('#btnAddToCart').on('click', (e) => {
                e.preventDefault();
                
                console.log(dataLayer);
                dataLayer.push({
                    event: 'add_to_cart',
                    ecommerce: {
                        items: [{
                            item_name: 'Nike Air Jordan 34',
                            item_id: 'item12345',
                            price: '99.90',
                            item_brand: 'NIKE',
                            item_category: 'Apparel',
                            item_category2: 'Mens',
                            item_category3: 'Shoes',
                            item_category4: 'Basketball',
                            item_variant: 'White Red',
                            quantity: '1'
                        }]
                    }
                });
            });

            $('#btnProductView').on('click', (e) => {
                e.preventDefault();
                dataLayer.push({
                    event: 'view_item',
                    ecommerce: {
                        items: [{
                            item_name: 'Nike Air Jordan 34',
                            item_id: 'item12345',
                            price: '99.90',
                            item_brand: 'NIKE',
                            item_category: 'Apparel',
                            item_category2: 'Mens',
                            item_category3: 'Shoes',
                            item_category4: 'Basketball',
                            item_variant: 'White Red',
                            quantity: '1'
                        }]
                    }
                });
            });

            $('#btnPurchaseItem').on('click', (e) => {
                e.preventDefault();
                dataLayer.push({
                    event: 'purchase',
                    ecommerce: {
                        currency: 'USD',
                        value: 129.90,
                        tax: 1.99,
                        shipping: 5.00,
                        affiliation: 'Jason Store',
                        transaction_id: '200015499',
                        coupon: 'flash_sale_coupon',
                        items: [{
                            item_name: 'Nike Air Jordan 34',
                            item_id: 'item12345',
                            price: '99.90',
                            item_brand: 'NIKE',
                            item_category: 'Apparel',
                            item_category2: 'Mens',
                            item_category3: 'Shoes',
                            item_category4: 'Basketball',
                            item_variant: 'White Red',
                            quantity: '1'
                        },
                        {
                            item_name: 'Underarmour Sleeve',
                            item_id: 'item12204',
                            price: '30.00',
                            item_brand: 'UNDER ARMOUR',
                            item_category: 'Apparel',
                            item_category2: 'Mens',
                            item_category3: 'T-Shirts',
                            quantity: '1',
                            item_coupon: 'summer_sale'
                        }]
                    }
                });
            });
        });