extends ../layout_default 

block content 
    
    h3.badge.rounded-pill.bg-dark.mt-1.text-light
        | Singular Postback
    row 
        button.btn.btn-primary#eventRegisterBtn.mb-3
            | Register Event
    