extends ../layout_default 

block content 
    main.vh-100.d-flex.flex-column(role="main")
        div(style="margin:auto;")
            section.text-center
                img.img_fluid(src="./images/singular-labs.png" alt="singular logo" width="70%" height="70%")
            section.d-flex.flex-column.p-2
                h1 
                    | Singular Banner 
            section.d-flex.justify-content-center.mt-1
                button.btn.btn-outline-primary#btnShowBanner
                    | Show Banner
            section.d-flex.justify-content-center.mt-1
                button.btn.btn-outline-primary#btnHideBanner
                    | Hide Banner
            //- section.d-flex.justify-content-center.mt-1
            //-     span.form-text#localStorageText
            //-         | Banner dismissed time
block append-script
    script.
        $(() => {
            console.log('document ready');
            initSingularSdk();

            const disimissedTime = localStorage.getItem('se_team_9b3431b0_com.herokuapp.singular-web-app_banner_last_dismissed');
            
            console.log(disimissedTime);
            if (disimissedTime) {
                $('#localStorageText').text(`banner-dismissal-period: ${disimissedTime}`);

                hideBanner();
            } else {
                showBanner();
            }
        });

        //- $(window).on('load',() => {
        //-     setTimeout(() => {
        //-         const disimissedTime = localStorage.getItem('se_team_9b3431b0_com.herokuapp.singular-web-app_banner_last_dismissed');
        //-         console.log(disimissedTime);
        //-         if (disimissedTime) {
        //-             $('#localStorageText').text(disimissedTime);
        //-         }
        //-     }, 500);
            
        //- });

        //- $('#btnShowBanner').on('click', (e) => {
        //-     e.preventDefault();
        //-     console.log("showBanner()");
        //-     singularSdk.showBanner();
        //- });
        //- $('#btnHideBanner').on('click', (e) => {
        //-     e.preventDefault();
            
        //-     singularSdk.hideBanner();
        //- });