extends ../../layout_default 

block content 
    main.vh-100.d-flex.flex-column(role="main")
        div(style="margin:auto;")
            section.text-center
                img.img_fluid(src="../images/hns.png" alt="singular logo" width="70%" height="70%")
                span
                    | NHN Banner Test
block append-script
    script.
        $(() => {
            initSingularSdk();

            showBanner();
        });